@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron1">
    <h1>Inventory control system</h1>
    <p class="lead">This application will manage products , customers, payment as well as inventory.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
